:local {
  .wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
    height: 100px;
    background-color: #3f51b5;
  }

  .header {
    margin-left: 10%;
    font-size: 26px;
    font-weight: 400;
    color: #fff;
  }

  .buttons {
    margin: auto 10%;
  }

  .button {
    border: 1px solid #fff;
    margin-left: 20px;
    color: #fff;
  }

  .buttonDisabled {
    background-color: #A8A8A8;
    margin-left: 20px;
    color: #fff!important;
  }
}
