:local {
  .root {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
  }

  .wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: justify;
  }

  .li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 50%;
    margin-bottom: 10px;
  }

  .button {
    display: table-cell;
    padding-left: 140px;

    button {
      width: 30%;
      top: 20px;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .table {
    display: table;
  }

  .field {
    display: table-row;
  }

  .text {
    line-height: 80px;
    display: table-cell;
    text-align: left;
  }

  .value {
    display: table-cell;
    vertical-align: top !important;
    padding-left: 20px;
    margin-left: 20px;
  }

  .description {
    display: table-cell;
    padding-left: 20px;
    min-width: 350px;
    max-width: 400px;
    margin-left: 20px;
  }

  .hint {
    flex-direction: column;
  }

  .credentials {
    color: #61dafb;
  }

  .error {
    margin-top: 20px;
    width: 80%;
  }
}
